<h2>
    Home</h2>
@*@using (Html.BeginForm("Navigate", "Home"))
{
    <input type="submit" value="Pay Periods" name="Navigate" />
}*@


@Html.ActionLink("Accounts", "Index", "Account")

@Html.ActionLink("Account Credits", "Index", "Credit")

@Html.ActionLink("Account Debits", "Index", "Debit")

