@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>
    @Html.ActionLink("Create New", "AddNew")
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pp in Model)
                {

                    <tr data-type="account" data-id="@pp.Id">
                        <td>
                            @pp.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</fieldset>
