@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                Start
            </td>
        </tr>
        @foreach (var pp in Model)
        {

            <tr>
                <td>
                    <div data-type="name" data-id="@pp.Id">@pp.Name</div>
                </td>
            </tr>
        }
    </table>
</fieldset>