@model Monty.Model.DAL.Debit
@using (Html.BeginForm("Edit", "Debit"))
{
    <label>
        Name</label>@Html.TextBoxFor(m => m.Name)
    <label>
        Date</label>@Html.TextBoxFor(m => m.Date)
    <label>
        Amount</label>@Html.TextBoxFor(m => m.Amount)
    <input type="submit" value="Edit" name="Edit" />
}
