@model Monty.DAL.PayPeriod

@using (Html.BeginForm("Save", "PayPeriod", Model))
{
    
    <label>
        Name</label>@Html.TextBoxFor(p=>p.Name, new {name = "Name"})
    <label>
        Start Date</label>@Html.TextBoxFor(p=>p.StartDate, new {name = "StartDate"})
    <label>
        End Date</label>@Html.TextBoxFor(p=>p.EndDate, new {name = "EndDate"})

    <input type="submit" value="Save" name="Navigate" />}
