@model Monty.UI.Models.PayPeriodModels.PayPeriodModel

@using (Html.BeginForm("Save", "PayPeriod"))
{
    <fieldset>
        <label>
        Name</label>@Html.TextBoxFor(p => p.PayPeriod.PayPeriodName)
    <label>
        Start Date</label>@Html.TextBoxFor(p => p.PayPeriod.StartDate)
    <label>
        End Date</label>@Html.TextBoxFor(p => p.PayPeriod.EndDate)
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>}
    