@model Monty.UI.Models.PayPeriodModels.PayPeriodViewModel

@using (Html.BeginForm("Save", "PayPeriod"))
{
    <fieldset>
        @Html.EditorFor(m=>m.PayPeriodModel)
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>}
    